{% extends 'administrator/_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="content-title">
        <h2>Список врачей</h2>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>Фильтр</h2>
        </div>
        <a href="{% url 'create' %}" type="button" class="btn btn-info m-t-10 float-right">Добавить</a>
        <div class="card-main__content">
            <div class="search-form__app">
                <form action="">

                <div class="col-md-3">


                   <!--<div class="delete-buttons">
                       <button id="deleteEmpButton" data-url="#">{% trans 'Delete' %}</button>
                    </div>-->
                </div>


                <div class="clearfix"></div>

            </form>
            </div>
            <div class="search-results__main">
                <div class="table-main">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-row" data-href="#">
                                <th class="td-id">№</th>
                                <th class="td-fio">ФИО</th>
                                <th class="td-reg">{% trans 'Специальность' %}</th>
                                <th class="td-phone">{% trans 'Номер телефона' %}</th>
                                <th class="td-date">{% trans 'Добавлено' %}</th>

                            </tr>
                        </thead>
                        <tbody>
                           {% for teacher in teachers %}
                                <tr class="table-row" data-id="{{ teacher.id }}" data-href="#">
{#                                //{% url 'admin_doctor_detail' teacher.id %}#}

                                    <td class="td-id">{{ teacher.id }}</td>
                                    <td class="td-fio">{{ teacher.get_full_name }}</td>
                                    <td class="td-reg">{{ teacher.work_place }}</td>
                                    <td class="td-phone">{{ teacher.phone|default_if_none:"" }}</td>
                                    <td class="td-date">{{ teacher.created|date:" d.m.Y"|default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'operator/js/root/search.js' %}"></script>
{% endblock %}
