{% extends 'administrator/_base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}

    <div class="content-title">
        <h2>{{ student.get_full_name }}</h2>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>Подробная информация</h2>
        </div>
        <div class="card-main__content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dr-head__content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dr-view-head__item">
                                    <div class="title">
                                        <h2>Личные данные</h2>
                                    </div>
                                    <div class="dr-view__head">
                                        <ul>
                                            <li><span>Ф.И.О:</span> {{student.get_full_name}}</li>

                                            <li><span>Год рождения:</span> {{ student.birth_date }}</li>
                                            <li><span>Серия паспорта:</span> {{student.passport_serial}}</li>
                                            <li><span>Национальность:</span>
                                            {% for region in regions %}
                                                <option name="region_search" value="{{ region.id }}">{{ region.name }}</option>
                                            {% endfor %}
                                            <li><span>Номер телефона:</span> {{ student.phone|default_if_none:"" }}</li>
                                            <li><span>Дата начала:</span> {{ student.start_date }}</li>
                                            <li><span>Дата окончания:</span> {{ student.start_date }}</li>                                        </ul>
                                    </div>
                                </div>
                                <div class="detailButtons">

                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>


    <div id="jobCreatePopup" class="create-popup white-popup mfp-hide">
        <form class="login">
            <fieldset>
                <legend class="legend">Ishxona biriktirish</legend>
                <div class="popup-content">
                    <div class="popup-content__item">
                        <div class="form-group">
                            <label for="city">Viloyat</label>
                            <select class="form-control selectpicker show-tick" name="city" id="city">
                                <option value="">Tanlang</option>
                                {% for city in cities %}
                                    <option value="{{ city.id }}">{{ city.name|default_if_none:"" }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="district">Tuman / Shahar</label>
                            <select class="form-control selectpicker show-tick" name="district" id="district">
                                <option value="">Tanlang</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type">Shifoxona</label>
                            <select class="form-control selectpicker show-tick" name="institution" id="institution">
                                <option value="">Tanlang</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="save-buttons">
                    <button id="saveJobButton" type="submit" class="saveButton" data-url="#">
                        Saqlash
                    </button>
                </div>

            </fieldset>
        </form>
    </div>

    <div id="jobTransferPopup" class="create-popup white-popup mfp-hide">
        <form class="login">
            <fieldset>
                <legend class="legend">Ishxona ko'chirish</legend>
                <div class="popup-content">
                    <div class="popup-content__item">
                        <div class="form-group">
                            <label for="oldJob">Amaldagi ish joyi</label>
                            <input name="old_job" type="text" class="form-control" id="oldJob" value="asdf" disabled>
                        </div>
                        <div class="form-group">
                            <label for="city">Viloyat</label>
                            <select class="form-control selectpicker show-tick" name="city" id="city">
                                <option value="">Tanlang</option>
                                {% for city in cities %}
                                    <option value="{{ city.id }}">{{ city.name|default_if_none:"" }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="district">Tuman / Shahar</label>
                            <select class="form-control selectpicker show-tick" name="district" id="district">
                                <option value="">Tanlang</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type">Shifoxona</label>
                            <select class="form-control selectpicker show-tick" name="institution" id="institution">
                                <option value="">Tanlang</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="save-buttons">
                    <button id="saveTransferButton" type="submit" class="saveButton" data-url="#">
                        Saqlash
                    </button>
                </div>

            </fieldset>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('.open-jobCreate-link').magnificPopup({
                type: 'inline',
                midClick: true,
                mainClass: 'mfp-fade'
            });
            $('.open-jobTransfer-link').magnificPopup({
                type: 'inline',
                midClick: true,
                mainClass: 'mfp-fade'
            });

            $("#city").on('change', function(){
               var city_id = $(this).val();

               console.log(city_id);

               var options = `<option value="">Tanlang</option>`;
               $.get(`/api/v1/regions/district/list/?city_id=${city_id}`, function(data){
                    $.each(data, function(key, value){
                        console.log(value.id + ':' + value.name);
                        options += `<option value="${value.id}">${value.name}</option>`;
                    });

                    $("#district").html(options);
                    $('#district').selectpicker('refresh');
               });

            });

            $("#district").on('change', function(){
               var district_id = $(this).val();

               console.log(district_id);

               var options = `<option value="">Tanlang</option>`;
               $.get(`/api/v1/districts/institution/list/?district_id=${district_id}`, function(data){
                    $.each(data, function(key, value){
                        console.log(value.id + ':' + value.name);
                        options += `<option value="${value.id}">${value.name}</option>`;
                    });

                    $("#institution").html(options);
                    $('#institution').selectpicker('refresh');
               });

            });

            $("#saveJobButton").click(function (event) {
                event.preventDefault();

                let formData = new FormData();
                formData.append("institution", $("select[name='institution']").val());

                $.ajax({
                    url: $(this).data("url"),
                    data: formData,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert('Success');
                        location.reload();
                    },
                    error: function (data) {
                        alert('Error')
                    }
                });
            });

            $("#saveTransferButton").click(function (event) {
                event.preventDefault();

                let formData = new FormData();
                formData.append("institution", $("select[name='institution']").val());

                $.ajax({
                    url: $(this).data("url"),
                    data: formData,
                    type: "PUT",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert('Success');
                        location.reload();
                    },
                    error: function (data) {
                        alert('Error')
                    }
                });
            });
        });
    </script>
{% endblock %}