{% extends 'administrator/_base.html' %}
{% load static i18n %}

{% block content %}
    <div class="content-title">
        <h2>Список врачей</h2>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>Фильтр</h2>
        </div>
        <a href="{% url 'student-create' %}" type="button" class="btn btn-info m-t-10 float-right">Добавить</a>
        <div class="card-main__content">
            <div class="search-form__app">
                <form action="">


                <div class="clearfix"></div>

            </form>
            </div>
            <div class="search-results__main">
                <div class="table-main">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-row" data-href="#">
                                <th class="td-id">№</th>
                                <th class="td-fio">ФИО</th>
                                <th class="td-reg">{% trans 'Учитель' %}</th>
                                <th class="td-phone">{% trans 'Номер телефона' %}</th>
                                <th class="td-date">{% trans 'Дата начала' %}</th>
                                <th class="td-date">{% trans 'Дата окончания' %}</th>
                                {% if request.user.is_superuser %}
                                    <th class="td-date">{% trans 'Region' %}</th>
                                {% endif %}


                            </tr>
                        </thead>
                        <tbody>
                           {% for student in students %}
                                <tr class="table-row" data-id="{{ student.id }}" data-href="#">
{#                                //{% url 'admin_doctor_detail' teacher.id %}#}

                                    <td class="td-id">{{ student.id }}</td>
                                    <td class="td-fio">{{ student.get_full_name }}</td>
                                    <td class="td-reg">{{ student.teacher.get_full_name }}</td>
                                    <td class="td-phone">{{ student.phone|default_if_none:"" }}</td>
                                    <td class="td-date">{{ student.start_date|date:" d.m.Y"|default_if_none:"" }}</td>
                                    <td class="td-date">{{ student.finish_date|date:" d.m.Y"|default_if_none:"" }}</td>
                                    {% if request.user.is_superuser %}
                                        <td class="td-date">{{ student.region.name }}</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'operator/js/root/search.js' %}"></script>
{% endblock %}
