{% extends 'administrator/_base.html' %}
{% load static i18n %}


{% block css %}
    <style>
        .charts-main{
            padding: 105px 15px;
            width: 100%;
            text-align: center;
        }
        .charts-title span{
            font-size: 18px;
            font-family: Rubik-Medium, sans-serif;
            margin: 0;
            color: #0f87ff;
        }
        #chartdiv {
          width: 100%;
          height: 460px;
            padding: 0 15px;
        }
        #chartdiv0 {
          width: 100%;
          height: 460px;
            padding: 0 15px;
        }
        @media (max-width: 1480px) {
            .charts-main{
                padding: 15px 15px;
            }
            .charts-title span{
                font-size: 16px;
            }
            #chartdiv {
                height: 420px;
            }
            #chartdiv0 {
                height: 420px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-title">
        <h2>Статистика</h2>
    </div>
    <div class="card-main">
        <div class="card-main__header">
            <h2>Статистика</h2>
        </div>
        <div class="card-main__content">

            <div class="charts-main">
                <!-- HTML -->
                <div class="row">
                    <div class="col-md-6">
                        <div id="map" style="width: auto !important;"></div>
                        <div class="charts-title">
                            <span>По районам</span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="yearsGender-chart">
                <div class="gender-chart">
                    <h2>По полу</h2>
                    <ul>
                        <li>Учителей: {{teacher_id}}</li>
                        <li>Студенты {{student_id}}</li>>

                    </ul>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }

    </style>
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


    <!-- Chart code -->
    <script>
        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.PieChart);

            // Add data
            chart.data = [
            {% for district in city.region_set.all %}
                {
                  "country": "{{ district.name }}",
                  "litres": {{ district.getTeacherCount }}
                },
            {% endfor %}
            ];

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "litres";
            pieSeries.dataFields.category = "country";
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;

            pieSeries.labels.template.disabled = true;

            // This creates initial animation
            pieSeries.hiddenState.properties.opacity = 1;
            pieSeries.hiddenState.properties.endAngle = -90;
            pieSeries.hiddenState.properties.startAngle = -90;

        }); // end am4core.ready()

        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            var chart = am4core.create("chartdiv0", am4charts.PieChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.data = [
                {% for age in by_ages %}
                    {
                        name: "{{ age.range }}",
                        value: {{age.doctor_count}}
                        {#value: {{ forloop.counter }}#}
                    },
                {% endfor %}
            ];
            chart.radius = am4core.percent(70);
            chart.innerRadius = am4core.percent(40);
            chart.startAngle = 180;
            chart.endAngle = 360;

            var series = chart.series.push(new am4charts.PieSeries());
            series.dataFields.value = "value";
            series.dataFields.category = "name";

            series.slices.template.cornerRadius = 10;
            series.slices.template.innerCornerRadius = 7;
            series.slices.template.draggable = false;
            series.slices.template.inert = true;
            series.alignLabels = false;

            series.labels.template.disabled = true;


            series.hiddenState.properties.startAngle = 90;
            series.hiddenState.properties.endAngle = 90;

            //chart.legend = new am4charts.Legend();

        }); // end am4core.ready()
    </script>
    <script>

                var simplemaps_countrymap_mapdata={
                main_settings: {
                //General settings
                    //width: "300", //or 'responsive'
                background_color: "#FFFFFF",
                background_transparent: "yes",
                border_color: "#ffffff",
                pop_ups: "detect",

                    //State defaults
                state_description: "",
                state_color: "#88A4BC",
                state_hover_color: "#3B729F",
                state_url: "",
                border_size: 1.5,
                all_states_inactive: "no",
                all_states_zoomable: "yes",

                    //Location defaults
                location_description: "Location description",
                location_url: "",
                location_color: "#FF0067",
                location_opacity: 0.8,
                location_hover_opacity: 1,
                location_size: 25,
                location_type: "square",
                location_image_source: "frog.png",
                location_border_color: "#FFFFFF",
                location_border: 2,
                location_hover_border: 2.5,
                all_locations_inactive: "no",
                all_locations_hidden: "no",

                    //Label defaults
                label_color: "#d5ddec",
                label_hover_color: "#d5ddec",
                label_size: 22,
                label_font: "Arial",
                hide_labels: "no",
                hide_eastern_labels: "no",

                    //Zoom settings
                zoom: "yes",
                manual_zoom: "yes",
                back_image: "no",
                initial_back: "no",
                initial_zoom: "-1",
                initial_zoom_solo: "no",
                region_opacity: 1,
                region_hover_opacity: 0.6,
                zoom_out_incrementally: "yes",
                zoom_percentage: 0.99,
                zoom_time: 0.5,

                    //Popup settings
                popup_color: "white",
                popup_opacity: 0.9,
                popup_shadow: 1,
                popup_corners: 5,
                popup_font: "12px/1.5 Verdana, Arial, Helvetica, sans-serif",
                popup_nocss: "no",

                    //Advanced settings
                    div: "map",
                auto_load: "yes",
                url_new_tab: "no",
                images_directory: "default",
                fade_time: 0.1,
                link_text: "View Website"
              },

              state_specific: {
                {% for reg in lists %}
                    {{ forloop.counter }}: {
                      name: "{{ reg.id }}",
                      description: "{{ reg.s_list }}",
                      color: "default",
                      hover_color: "default",
                      url: "default"
                    },
                {% endfor %}

              },
              locations: {
                "0": {
                  lat: "41.316667",
                  lng: "69.25",
                  name: "Tashkent"
                }
              }
            };
    </script>
    <script src="{% static 'operator/js/countrymap.js' %}"></script>
{% endblock %}